@model Sistema_MVC_Aguirre.Models.Documento
@{
    ViewBag.Title = "DOCUMENTO - DETALLE";
}

<ol class="breadcrumb h4">
    <li><a href="~/Documento/Index">DOCUMENTO</a></li>
    <li class="active">@Model.nombre</li>
</ol>

<div class="panel panel_default h4">
    <div class="panel-heading">
        Información del documento
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>@Model.categoria_id</dd>
            <dt>NOMBRE</dt>
            <dd>@Model.nombre</dd>
            <dt>CATEGORÍA</dt>
            <dd>@Model.Categoria.nombre</dd>
            <dt>DESCRIPCIÓN</dt>
            <dd>@Model.descripcion</dd>
            <dt>EXTENSIÓN</dt>
            <dd>@Model.extension</dd>
            <dt>TAMAÑO</dt>
            <dd>@Model.tamanio</dd>
            <dt>TIPO</dt>
            <dd>@Model.tipo</dd>
            <dt>ESTADO</dt>
            <dd>@(Model.estado == "A" ? "Activo" : "Inactivo")</dd>
        </dl>
    </div>
</div>
