@model List<Sistema_MVC_Aguirre.Models.Persona>
@{
    ViewBag.Title = "PERSONA";
}

<h4><a href="~/Categoria/AgregarEditar/" class="btn btn-primary btn-lg">NUEVA PERSONA</a></h4>

@using (Html.BeginForm("Index", "Persona", FormMethod.Post, new { criterio = "frm-buscar" }))
{
    <div class="">
        @Html.Label("Buscar: ", new { @class = "h4" })
        @Html.TextBox("Criterio", "", new { @class = "form-control input-lg" })
        <br />
        <button type="submit" class="btn btn-lg btn-primary">BUSCAR</button>
    </div>
    <br />
    <table class="table table-striped">
        <thead class="thead-dark h4">
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DNI</th>
                <th>EMAIL</th>
                <th>ESTADO</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="h4">
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.persona_id</td>
                    <td>@(m.nombre + " " + m.apellido)</td>
                    <td>@m.dni</td>
                    <td>@m.email</td>
                    <td>@(m.estado == "A" ? "Activo" : "Inactivo")</td>
                    <td style="align-content:center;">
                        <a href="~/Persona/Ver/@m.persona_id" class="btn btn-lg btn-info">DETALLE</a>
                        <a href="~/Persona/AgregarEditar/@m.persona_id" class="btn btn-lg btn-warning">MODIFICAR</a>
                        <a href="~/Persona/Eliminar/@m.persona_id" class="btn btn-lg btn-danger" onclick="return confirm('¿Está seguro que desa eliminar este registro')">ELIMINAR</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


